.navigation-bar {
  width: 100%;
  height: 70px;
  background-color: dodgerblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
  
.navigation-bar a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
}

.linkContainer {
  width: 100%;
  height: 70px;
  background-color: dodgerblue;
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.lang {
  margin-right: 30px;
}

.accountMenu {
  position: relative;
  left: 1350px;
}

.logoutBtn {
  width: 152px;
  height: 47px;
  margin-right: 10px;
  background-color: rgb(0, 70, 139);
  color:aliceblue;
  border: none;
  border-radius: 5px; 
  position: relative;
  left: 1000px;
}

.logoutBtn:hover {
  background-color: rgb(1, 48, 92);
}

.userName {
  position: relative;
  left: 900px;
}
