.tableContainer {
  height: 600px;
  width: 919px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  border: 1px solid lightgray;
  font-family: Arial, Helvetica, sans-serif;
  background-color: azure;
  display: flex;
  margin: 0 auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid lightgray;

  .body {
    flex: 60%;
    display: grid;
    place-content: center;

    .editBtn {
      color: white;
      background-color: rgb(14, 97, 180);
    }

    .editBtn:hover {
      background-color: rgb(0, 70, 139);  
    }
  }

  .footer {
    height: 119.6px;
    border-top: 1px solid lightgray;
    display: flex;
    align-items: center;
    padding-left: 15px;
    background-color: dodgerblue;
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    .addBtn {
      background-color: rgb(0, 70, 139);
      color:aliceblue;
      border: none;
    }

    .addBtn:hover {
      background-color: rgb(1, 48, 92);
    }
  }
}



