.selectContainer {
  width: 550px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 4px solid lightskyblue;
  border-bottom: 1px solid rgb(104, 100, 100);
}

.datePickerContainer {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 4px solid lightskyblue;
}