.addBtn {
  display: inline-block;
  height: 50px;
  padding-right: 30px;
}

.actionContainer {
  display: flex;
  justify-content: space-between;
}

.centerColumn {
  text-align: center;
}

.rightColumn {
  text-align: right;
}