#individual {
  height: 600px;
  width: 919px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;

  .titleContainer {
    width: 919px;
    display: flex;
    flex-direction: row;

    .title {
      width: 819px;
      background-color: dodgerblue;
      border: none;

      .titleInput {
        height: 50px;
        margin-top: 25px;
        margin-left: 10px;
        width: 800px;
      }
    }

    .logo {
      width: 100px;
      height: 100px;

      .logotype {
        width: 100px;
        height: 100px;
      }
    }
  }

  .body {
    background-color: rgb(0, 124, 248);
    font-size: 25px;
    height: 490px;

    .textarea {
      width: 909px;
      height: 380px;
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    width: 919px;
    height: 110px;
    background-color: dodgerblue;
    border-radius: 0px 0px 10px 10px; 

    .uploadBtns {
      margin-left: 10px;
      display: flex;
      flex-direction: column;
      border: none;

      .customFileUpload {
        text-align: center;
        width: 250px;
        background-color: rgb(0, 70, 139);
        color:aliceblue;
        border: none;
        border-radius: 5px; 
        display: inline-block;
        cursor: pointer;
        margin-bottom: 5px;
        margin-top: 5px;
      }

      .customFileUpload:hover {
        background-color: rgb(1, 48, 92);
      }

      input[type="file"] {
        display: none;
      } 
    }

    .submit {
      background-color: rgb(0, 70, 139);
      color:aliceblue;
      width: 142px;
      border: none;
      border-radius: 5px; 
    }

    .submit:hover {
      background-color: rgb(1, 48, 92);
    }

    .saveBtn {
      width: 152px;
      height: 47px;
      margin-right: 10px;
      margin-top: 30px;
      background-color: rgb(0, 70, 139);
      color:aliceblue;
      border: none;
      border-radius: 5px; 
    }
  
    .saveBtn:hover {
      background-color: rgb(1, 48, 92);
    }
  }

  .title, .footer {
    font-size: 30px;
  }
}
