.body {
  flex: 60%;
  display: grid;
  place-content: center;

  .boardsContainer {
    height: 527px;
    width: 722px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    border: 1px solid lightgray;
    font-family: Arial, Helvetica, sans-serif;
    background-color: azure;
    margin: 0 auto;
    border: 1px solid lightgray;
  
    .board {
      min-width: 300px;
      min-height: 400px;
      border: 5px solid lightgray;
      padding: 20px 10px;
      border-radius: 12px;
      margin: 10px;
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  
    .boardTitle {
      font-size: 1.2rem;
      font-weight: 700;
    }
  
    .item {
      width: 100%;
      border: 2px solid lightpink;
      padding: 10px;
      border-radius: 6px;
      margin: 5px, 0;
      cursor: grab;
      background-color: magenta;
    }
  }

  .footer {
    height: 70.4px;
    border-top: 1px solid lightgray;
    display: flex;
    align-items: center;
    padding-left: 15px;
    background-color: dodgerblue;
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
