.addBtn {
  margin-top: 15px;
  margin-left: 20px;
  height: 40px;
  border: none;
  background-color: dodgerblue;
  border-radius: 5px;
  color: white;
  padding-left: 30px;
}

.addBtn:hover {
  cursor: pointer;
  background-color: rgb(14, 97, 180);
}

.technologiesContainer {
  height: auto;
  max-width: 1400px;
  margin: auto;
  align-items: center;
} 

.body {
  flex: 60%;
  display: grid;
  place-content: center;
  .editBtn {
    color: white;
    background-color: rgb(14, 97, 180);
  }

  .editBtn:hover {
    background-color: rgb(0, 70, 139);  
  }
}

#dialogBtn {
  position: fixed;
  top: 300px;
  left: 100px;
  cursor: pointer;
  z-index:99990;
}