.selectContainer {
  width: 550px;
  height: 100px;
  border-top: 4px solid lightskyblue;
  border-bottom: 1px solid rgb(104, 100, 100);
}

.datePickerContainer {
  height: 150px;
  display: flex;
  border-bottom: 4px solid lightskyblue;
}

.description {
  width: 548px;
}

.addBtn {
  position: relative;
  top: 10px;
  right: 5px;
}