.loginPage {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: auto;
  padding: 20px;

  #inputCreatePost {
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid grey;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 20px;
  }

  .loadBtn {
    margin-top: 15px;
    height: 40px;
    border: none;    
    background-color: dodgerblue;
    border-radius: 5px;
    color: white;
  }

  .loadBtn:hover {
    cursor: pointer;
    background-color: rgb(14, 97, 180);
  }
}
