.notPass {
margin-left: 700px ;
width: 500px;
height: 500px;
}

.contentContainer {
  margin: 0 auto;
  width: 500px;
  text-align: center;
}

.redirectBtn {
  margin-left: 900px;
  height: 40px;
  border: none;
  background-color: dodgerblue;
  border-radius: 5px;
  color: white;
  padding: 0px 7px;
}

.redirectBtn:hover {
  cursor: pointer;
  background-color: rgb(14, 97, 180);
}
