.createUserPage {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    cursor: pointer;
  }
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: auto;
  padding: 20px;

  #inputCreateUser {
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid grey;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 20px;
  }

  span {
    color: red;
  }

  button {
    margin-top: 15px;
    height: 40px;
    border: none;
    background-color: dodgerblue;
    border-radius: 5px;
    color: white;
  }

  button:hover {
    cursor: pointer;
    background-color: rgb(14, 97, 180);
  }

  .passcont {
    display: flex;
    width: 810px;

    .input {
      width: 460px;
    }

    .passinp {
      display: flex;
      flex-direction: column;
    }

    .policy {
      position: relative;
      top: 28px;
      left: 10px;
      width: 350px;
    }
  }
}
